<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HolidayLabelsAndListsHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ValleyLabelsAndListsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\devel\WinForms\ValleyLabelsAndLists\ValleyLabelsAndLists.sqlite&quot;" providerName="System.Data.EntityClient"/>
    <add name="UI.Properties.Settings.ValleyLabelsAndListsConnectionString" connectionString="data source=C:\Users\Public\Documents\ValleyLabelsAndLists\Data\Database\ValleyLabelsAndLists.sqlite" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
	  
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
    <HolidayLabelsAndListsHelper.Properties.Settings>
      <setting name="InitialVestaFolder" serializeAs="String">
        <value>P:\VESTA input</value>
      </setting>
    </HolidayLabelsAndListsHelper.Properties.Settings>
  </userSettings>
</configuration>
